/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:Arial,Tahoma,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.my-logo{position:fixed;bottom:0;left:0;margin:0;padding:0}.my-logo__pic{border:0;vertical-align:middle;width:50px;height:50px}body{margin:0;padding:0;font:1em/1.4em sans-serif;color:#353535}
/*Copyright www.Master-CSS.com*/.my-logo{position:fixed;bottom:0;left:0;margin:0;padding:0;}.my-logo__pic{border:0;vertical-align:middle;width:50px;height:50px;}

body{
  font: 1em/1.6em Tahoma, Arial sans-serif;
  color: #272727;
}

/*Шапка сайта*/
.header{
    background: #26292c;
    padding: 1px;
}

.headeer__name{
    margin: 40px 0 0;
    font-size: 2.4em;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.header__desc{
    margin: 20px 0 40px 0;
    font-size: 1.6em;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}
.header__red{
    color: #e22e00;
}
.header__blue{
    color: #0088bb;
}

/*подписка шапки*/
.sub{
    padding: 60px 0;
    background: #00137F url(images/headerbg.jpg) center repeat-y;
}
.sab__flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 60px;
}

.sub__left{
    background: url(images/pattern-bg.jpg);
    flex: 1 1 400px;
    position: relative;
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 1px 5px #103147;
}
.sub__lable{
    position: absolute;
    top: -40px;
    left: -80px;
}
.sub__action{
    text-align: center;
    padding: 0 20px 0 130px;
}
.sub__zag{
    font:  "Cuprum" sans-serif;
    font-size: 30px;
    color: #d00000;
    font-weight: bold;
    margin: 20px 0 0 0;
}
.sub__text{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.sub__timer{
    text-align: center;
    padding: 0 0 10px 0;
}
.sub__timerzag{
    font-size: 20px;
    margin: 30px 0 10px;
}
.sub__right{
    background: url(images/198.jpg);
    flex: 1 1 300px;
    position: relative;
    box-shadow: 1px 1px 5px #103147;
    border: 3px solid #fff;
    border-radius: 3px;
}
.sub__form{
    padding: 40px 40px 20px 40px;
}
.sub__input{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0 0 20px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    line-height: 40px;
    text-indent: 35px;
    background: #fff 3px center no-repeat;
    background-size: 26px;
    transition: .4s all;
} :focus{
    background-size: 32px;
}
.sub__input_user{
    background-image: url(images/favicon/id_card.svg);
}
.sub__input_phone{
    background-image: url(images/favicon/Viber.svg);
}
.sub__input_mail{
    background-image: url(images/favicon/mail-3.svg);
}
.sub__submit{
    margin: 0 0 20px;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background: #d00000;
    color: #fff;
    font: "Cuprum" sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px 3px #570000;
    transition: .5s all;
} 
.sub__submit:hover{
    cursor: pointer;
    background: #fff;
    color: #d00000;
    text-shadow: 1px 1px #666;
}
.sub__conf{
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 3px #0c3f5c;
    padding: 0 0 0 40px;
    line-height: 16px;
    background: url(images/favicon/zamok.svg) no-repeat left center;
    background-size: 50px;
}

/*яйца достоинств*/
.eggs{
    background: #fff url(images/eggsbg.png);    
    box-shadow: 0 0 5px #000 inset;
    padding: 0 10px;
}
.eggs__flex{
    display: flex;
    flex-flow: row wrap;
}
.eggs__egg{
    text-align: center;
    flex-grow: 1;
    flex-basis: 170px;
    padding: 0 10px;
    margin: 20px 0 20px -1px;
    border-left: 1px dashed #474747;
    border-right: 1px dashed #474747;
}
.eggs__text{
    color: #fff;
    font-family: "Cuprum" sans-serif;
    font-size: 20px;
}
.eggs__yellow{
    color: #ffb400;
}

/*тело сайта - контент*/
.result__h2, .polza__h2{
    font: "Cuprum" sans-serif;
    font-size: 33px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 40px 0;
}
.result__pic, .result__block{
    width: 300px;
    float: left;
}
.result__pic{
    margin-right: 50px;
    height: 360px;
}

.result__block{
    border: 1px dashed #0b344e;
    border-radius: 3px;
    padding: 10px;
    background: #f2f2f2;
    box-sizing: border-box;
    transition: .3s all;
    margin-bottom: 50px;
}
.result__block_mr50{
    margin-right: 50px;
}
.result__block:hover{
    background: #0e8aae;
    color: #fff;
    text-shadow: 1px 1px 1px #0b6c88;
}
.result__block:hover .result__h3{
    color: #fff;
}
.result__icon{
    float: left;
    margin-right: 10px;
}
.result__h3{
    font-family: "Cuprum" sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 64px;
    margin: 0;
    color: #22739d;
    padding: 0;
    transition: .3s all;
}
.result__h3_min{
    font-size: 20px;
}
.result__p{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
}

/*польза и ништяки учебы*/

.polza{
    background: url(images/light_wool.png);
    border-top: 1px dashed #a2a2a2;
}
.polza__flex{
    display: flex;
    flex-flow: row wrap;
}
.polza__block{
    flex: 0 1 380px;
    justify-content: space-between;
    margin: 40px;
}
.polza__block_mr50{
    margin-right: 50px;
}
.polza__img{
    width: 64px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin: 12px 10px 0 0;
}
.polza__h3{
    font-family: "Cuprum", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 1em;
    color: #e22e00;
    margin: 0;
    padding: 0;
    text-align: center;
}
.polza__p{
    margin: 0;
    line-height: 18px;
    text-align: justify;
}

/*подвалина*/

.sub__flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin:  0;
}
.sub-footer{
    background: url(images/bg-f.png.png);
}

.sub-footer__h3{
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.sub-footer__left{
    flex: 1 1 600px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
}
.sub-footer__right{
    flex: 1 1 340px;
    margin-bottom: 30px;
}
.sub-footer__pic{
    float: left;
}
.sub-footer .contDiv:before,  
.sub-footer .contDiv:after{
   background-color: #fff; 
}
.sub-footer__disc{
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ffc600;
}
.sub-footer__timer{
    margin-left: 203px;
}
.sub-footer__timerzag{
    font-family: "Cuprum", sans-serif;
    font-size: 20px;
}
#note2{
    font-weight: 400;
}

.sub-footer__h4{
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    color: #26292c;
    text-transform: uppercase;
    background: #859ba6;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    margin: 40px 0 0 0;
}
.sub-footer__form{
    background: #34627d;
    border-radius: 3px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
}
.sub-footer__input{
    background: #fff;
    border-radius: 3px;
    margin: 10px 0;
    width: 80%;
    padding: 7px 10px 7px 20px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    box-sizing: border-box;
    color: #777;
}
.sub-footer_bottom{
    background: #0e8aae;
    color: aliceblue;
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    text-transform: uppercase;
    margin-bottom: 15px;
    transition: .3s all;
}
.sub-footer_bottom:hover{
    background: #12a0c9;
    color: red;
    cursor: pointer;
}
.sub-footer_bottom:active{
    background: #0c81a2;
    color: red;
    box-shadow: 0 0 5px #000 inset;
}

/*подвал сего сайта*/

.footer{
    background: url(images/eggsbg.png);
    padding: 20px 0;
}
.footer__p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffc600;
}


.mid{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}

@media screen and (max-width: 1024px){
    .mid{
        margin: 0 20px;
    }
    .result__block_mr50{
        margin-right: 0px;
    }
    .result__pic, .result__block{
        margin-right: 0;
        width: auto;
        float: none;
        height: auto;
    }
    .result__pic{
        text-align: center;
    }
    .result__img{
        max-width: 100%;
        height: auto;
    }
    .polza__block{
        flex: 1 1 600px;
    }
    .sub-footer__left{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 902px){
    .sub__left{
       border-radius: 3px 3px 0 0;
    }
    .sub__right{
      border-radius: 0 0 3px 3px;  
    }
    .sub__lable{
        position: static;
        text-align: center;
        margin-top: -40px;
    }
    .sub__action{
        padding: 0 20px;
    }
    .result__h3_min{
        font-size: 30px;
    }
    .polza__block_mr50{
        margin-right: 0;
    }
    .sub-footer__pic{
        float: none;
    }
    .sub-footer__timer{
        margin-left: 0px;
    }
}

@media screen and (max-width: 640px){
    .sab__flex{
        margin: 0;
    }
    .headeer__name{
        line-height: 1.0em;
    }
    .result__h3{
        line-height: 1em;
        margin: 15px 0 25px;
    }
}

@media screen and (max-width: 400px){
    .sub__timer{
        display: none;
    }
    .sub__form{
        padding: 40px 20px 20px 20px;
    }
    .sub__submit{
        font-size: 20px;
    } 
    .sub-footer__timer{
        display: none;
    }
}


























